APP_ENV=development
HTTP_PORT=3050
LOG_LEVEL=info
JWT_SECRET=cambia-este-secreto-en-produccion
JWT_EXPIRATION_HOURS=24

DB_HOST=localhost
DB_PORT=5434
DB_USER=lerida
DB_PASS=lerida_dev_2026
DB_NAME=lerida_comercio
DB_SSLMODE=disable

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost
